<?xml version="1.0"?>
<ruleset name="ElasticApm">
    <!-- see https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset -->

    <rule ref="PSR12" />
    <rule ref="Generic.PHP.RequireStrictTypes" />

    <rule ref="Generic.Files.LineLength">
        <properties>
            <!-- warning for line length above lineLimit -->
            <property name="lineLimit" value="200"/>
            <!-- error for line length above absoluteLineLimit -->
            <property name="absoluteLineLimit" value="200"/>
        </properties>
    </rule>

    <config name="installed_paths" value="../../slevomat/coding-standard"/>

	<!-- https://github.com/slevomat/coding-standard/blob/master/doc/namespaces.md#slevomatcodingstandardnamespacesunuseduses- -->
	<rule ref="SlevomatCodingStandard.Namespaces.UnusedUses">
        <properties>
            <!-- searchAnnotations (defaults to false): enables searching for class names in annotations. -->
            <property name="searchAnnotations" value="true"/>
        </properties>
    </rule>

	<!-- other sniffs to include -->

    <exclude-pattern>*/polyfills/Stringable.php</exclude-pattern>
    <exclude-pattern>*/polyfills/WeakMap.php</exclude-pattern>

    <exclude-pattern>*/tests/ElasticApmTests/ComponentTests/WordPress/mock_src/*.php</exclude-pattern>
    <exclude-pattern>*/tests/ElasticApmTests/ComponentTests/WordPress/expected_process_AST_output/*.php</exclude-pattern>
</ruleset>
