<?xml version="1.0"?>
<ruleset name="ElasticApm">
    <rule ref="PSR12" />
    <rule ref="Generic.PHP.RequireStrictTypes" />

    <exclude-pattern>*/polyfills/Stringable.php</exclude-pattern>
    <exclude-pattern>*/polyfills/WeakMap.php</exclude-pattern>
</ruleset>
