parameters:
    reportUnmatchedIgnoredErrors: false

    excludes_analyse:
        # Temporarily disabling as it uses ...
        # - src/ElasticApm/???.php

    ignoreErrors:
        #
        # elasticapm_* functions are provided by the extension
        #
        - '#^Function elasticapm_[a-z_]* not found\.$#'
