<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose= "true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests= "true"
>
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/ElasticApmTests/UnitTests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/ElasticApm/</directory>
        </whitelist>
    </filter>
</phpunit>
