name: Auto Assign to Project(s)

on:
  issues:
    types: [opened, edited, milestoned]
  pull_request_target:
    types: [opened, edited, milestoned]

permissions:
  contents: read

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign milestoned to Project
    steps:
    - name: Get token
      id: get_token
      uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
      with:
        app_id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
        private_key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
        permissions: >-
          {
            "issues": "read",
            "organization_projects": "write",
            "pull_requests": "read"
          }
    - name: Assign issues with milestones to project
      uses: actions/add-to-project@v1.0.2
      if: github.event.issue && github.event.issue.milestone
      with:
        project-url: https://github.com/orgs/elastic/projects/454
        github-token: ${{ steps.get_token.outputs.token }}
    - name: Assign new pull requests to project
      uses: actions/add-to-project@v1.0.2
      if: github.event.action == 'opened' && github.event.pull_request
      with:
        project-url: https://github.com/orgs/elastic/projects/454
        github-token: ${{ steps.get_token.outputs.token }}
