---
# Runs the build-packages based on the provided files in test.yml
name: build-packages

on:
  workflow_call: ~

permissions:
  contents: read

jobs:
  build-packages:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    strategy:
      fail-fast: false
      matrix:
        BUILD_ARCH: ["x86-64", "arm64"]
    env:
      BUILD_ARCH: ${{ matrix.BUILD_ARCH }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: package-parts-linux-${{ matrix.BUILD_ARCH }}
          path: agent/native/_build/linux-${{ matrix.BUILD_ARCH }}-release/
      - uses: actions/download-artifact@v7
        with:
          name: package-parts-linuxmusl-${{ matrix.BUILD_ARCH }}
          path: agent/native/_build/linuxmusl-${{ matrix.BUILD_ARCH }}-release/
      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: package
        run: make -C packaging package
      - name: package info
        run: make -C packaging info
      - uses: actions/upload-artifact@v6
        with:
          name: packages-${{ matrix.BUILD_ARCH }}
          path: |
            build/packages/*
            !build/packages/**/*.sha512
