---

# Runs the build based on the provided files in test.yml
name: build

on:
  workflow_call:
    inputs:
      build_arch:
        required: false
        type: string
        default: 'x86_64'
  workflow_dispatch:
    inputs:
      build_arch:
        type: choice
        description: Build architecture
        default: 'x86_64'
        options:
          - all
          - x86_64
          - arm64

permissions:
  contents: read

jobs:
  setup-build-matrix:
    uses: ./.github/workflows/build-arch-matrix-generator.yml
    with:
      build_arch: ${{ inputs.build_arch }}

  build:
    name: build-agent-library
    runs-on: ${{ matrix.run_qemu && 'observability-linux-2-arm64' || 'ubuntu-latest' }}
    needs: setup-build-matrix
    timeout-minutes: 300
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup-build-matrix.outputs.matrix-combinations) }}
    env:
      BUILD_ARCHITECTURE: ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v5
      - name: Build
        run: |
          uname -a
          echo "Detected CPUs: $(nproc)"
          make -f .ci/Makefile build

      - uses: actions/upload-artifact@v5
        with:
          name: package-parts-${{ matrix.arch }}
          path: |
            agent/native/_build/${{ matrix.arch }}-release/ext/elastic_apm*.so
            agent/native/_build/${{ matrix.arch }}-release/ext/elastic_apm*.debug
            agent/native/_build/${{ matrix.arch }}-release/loader/code/elastic_apm_loader.so
            agent/native/_build/${{ matrix.arch }}-release/loader/code/elastic_apm_loader.debug
