---
# Runs the build-packages based on the provided files in test.yml
name: build-packages

on:
  workflow_call: ~

permissions:
  contents: read

jobs:
  build-packages:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v3
        with:
          name: package-parts-linux-x86-64
          path: agent/native/_build/linux-x86-64-release/
      - uses: actions/download-artifact@v3
        with:
          name: package-parts-linuxmusl-x86-64
          path: agent/native/_build/linuxmusl-x86-64-release/
      - uses: actions/download-artifact@v3
        with:
          name: package-parts-linux-arm64
          path: agent/native/_build/linux-arm64-release/
      - uses: actions/download-artifact@v3
        with:
            name: package-parts-linuxmusl-arm64
            path: agent/native/_build/linuxmusl-arm64-release/
      - name: Log in to the Container registry
        uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446 # v3.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: package
        run: make -C packaging package
      - name: package info
        run: make -C packaging info
      - uses: actions/upload-artifact@v3
        with:
          name: package
          path: |
            build/packages/*
            !build/packages/**/*.sha512
