name: snapshoty

on:
  workflow_run:
    workflows:
      - test
    types:
      - completed
    branches:
      - main

jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download artifacts
        run: >
          gh run download ${{ github.event.workflow_run.id }}
          --name package
          --repo "${GITHUB_REPOSITORY}" 
          --dir build/packages
        env:
          GH_TOKEN: ${{ github.token }}
      - name: Publish snapshot
        uses: elastic/apm-pipeline-library/.github/actions/snapshoty-simple@current
        with:
          config: '.ci/snapshoty.yml'
          vaultUrl: ${{ secrets.VAULT_ADDR }}
          vaultRoleId: ${{ secrets.VAULT_ROLE_ID }}
          vaultSecretId: ${{ secrets.VAULT_SECRET_ID }}
