name: test

on:
  workflow_call:
    inputs:
      build_arch:
        required: true
        type: string
        default: 'all'
  pull_request:
    paths-ignore:
      - "**/*.asciidoc"
      - "**/*.md"
      - "**/*.png"
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.asciidoc"
      - "**/*.md"
      - "**/*.png"

permissions:
  contents: read

## Concurrency only allowed in the main branch.
## So old builds running for old commits within the same Pull Request are cancelled
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      build_arch: all

  setup-build-matrix:
    uses: ./.github/workflows/build-arch-matrix-generator.yml
    with:
      build_arch: all

  phpt-tests:
    name: phpt-tests
    needs:
      - build
      - setup-build-matrix
    runs-on: ${{ matrix.data.run_qemu && 'observability-linux-2-arm64' || 'ubuntu-latest' }}
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"
        data: ${{ fromJson(needs.setup-build-matrix.outputs.matrix-combinations).include }}
    env:
      PHP_VERSION: ${{ matrix.php-version }}
      BUILD_ARCHITECTURE: ${{ matrix.data.arch }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: package-parts-${{ matrix.data.arch }}
          path: agent/native/_build/${{ matrix.data.arch }}-release/
      - name: Prepare
        run: make -f .ci/Makefile prepare
      - name: phpt-unit-tests
        run: |
          tree agent/native/_build/
          uname -a
          make -f .ci/Makefile run-phpt-tests
  static-checks-unit-tests:
    name: static-checks-unit-tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"
        dockerfile:
          - "Dockerfile"
          - "Dockerfile.alpine"
    env:
      PHP_VERSION: ${{ matrix.php-version }}
      DOCKERFILE: ${{ matrix.dockerfile }}
    steps:
      - uses: actions/checkout@v6
      - name: Prepare
        run: make -f .ci/Makefile prepare
      - name: Static Check / Unit tests
        run: make -f .ci/Makefile static-check-unit-test
      - if: success() || failure()
        name: Prepare Upload
        run: >-
          find build
          -name "*junit.xml"
          -exec bash -c 'mv {} "build/${PHP_VERSION}-${DOCKERFILE}-$(basename {})"'
          \;
      - if: success() || failure()
        uses: actions/upload-artifact@v5
        with:
          name: test-results-${{ matrix.php-version }}-${{ matrix.dockerfile }}
          path: build/*junit.xml
          if-no-files-found: error
  build-packages:
    permissions:
      contents: read
      packages: read
    needs:
      - build
      - static-checks-unit-tests
      - phpt-tests
    uses: ./.github/workflows/build-packages.yml
    secrets: inherit

  generate-test-packages-matrix:
    uses: ./.github/workflows/generate-matrix.yml

  test-packages:
    permissions:
      contents: read
      packages: read
    needs:
      - build-packages
      - generate-test-packages-matrix
    uses: ./.github/workflows/test-packages.yml
    with:
      include: ${{ needs.generate-test-packages-matrix.outputs.include }}
    secrets: inherit

  # The very last job to report whether the Workflow passed.
  # This will act as the Branch Protection gatekeeper
  ci:
    needs:
      - test-packages
    runs-on: ubuntu-latest
    steps:
      - name: report
        run: echo "CI workflow passed"
